@import 'tailwindcss';

@theme {
  --color-primary: #bdff01;
  --animate-pulse-fast: pulse 0.7s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.history-scrollbar {
  scrollbar-color: #000 #bdff01;
  scrollbar-width: thin;
}

.history-scrollbar::-webkit-scrollbar {
  height: 8px;
}

.history-scrollbar::-webkit-scrollbar-track {
  background: #bdff01;
}

.history-scrollbar::-webkit-scrollbar-thumb {
  background: #000;
}
